dist/
node_modules/
.idea
.vscode
yarn.lock
package.json
.git
.gitignore
LICENSE
VERSION
*.md
*.code-workspace
*.sublime-project
*pipelines.yml
docker-compose*
*.env
coverage
*pipelines.yml
Jenkinsfile
*.log
docs/
*.trx
build.sh